.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
  }
}
